body{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px;
	color: #A3A3A3 !important;
	overflow-y: scroll !important;
}

p{
	color: #A1A1A1;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Slab', serif !important;
	color: #E7C345  !important;
}

a:active{
	text-decoration: none !important;
}

a:hover{
	text-decoration: none !important;
}

button:focus {
	outline: 0 !important;
}

.nopadding{
	padding: 0 !important;
}

.nopadding-l{
	padding-left: 0 !important;
}

.nopadding-r{
	padding-right: 0 !important;
}

#page{
	position: relative;
	min-height: 100%;
	padding-bottom: 50px;
}

.page-wrapper{
	position: relative;
}

#login-wrapper{
	position: relative;
	box-shadow: 0px 0px 2px 0px #000;
}

#login-container{
	position: relative;
}

#login{
	float: right;
	right: 0;
	z-index: 1;
}

#login label{
	padding: 6px;
	float: right;
}

#login button{
	float: right;
	background: #E7C345;
	color: #fff;
}

#login button a{
	display: inline-block;
	color: inherit;
}

#nav{
	list-style: square;
	margin: 0;
	padding: 0;
	text-align: center;
}

#logo a img{
	height: 90px;
	margin-top: -30px;
}

#nav li{
	position: relative;
	vertical-align: top;
	padding: 20px;
	margin: 0;
}

#nav li a{
	min-height: 20px;
	padding: 10px;
	display: inline-block;
	width: 100%;
}

#nav li a:hover{
	/*background-color: #DBDBDB;*/
}

#main-slider{
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	max-height: 50vh;
}

#main-slider img{
	width: 100%;
}

#main-slider p{
	position: absolute;
	top: 35%;
	right: 2%;
	color: #fff;
	width: 40%;
	font-size: 20px;
}

.page-wrapper{
	margin-top: -100px;
	background: #fff;
	padding: 10px;
}

#content-wrapper > div > div > h1{
	text-align: center;
}

#content-wrapper {
	padding: 10px 30px;
}

#content-wrapper > div > div > p{
	letter-spacing: 1.5;
	text-align: center;
	padding-bottom: 20px;
}

#news-section{
	padding-top: 50px;
}

#news-slider, #news-carousel{
	width: 80%;
	margin: 0 auto;
}

#news-slider div ul li a{
	display: inline-block;
}

#news-slider{
	padding: 20px;
	box-sizing: border-box;
	background-color: #f4f4f4;

}

#news-section ul li{
	margin: 0;
}

#news-section h3{
	text-align: center;
}

#news-section > div:first-child ul li:after{
	content: '';
	clear: both;
	font-size: 1;
	display: block;
}

#news-section div ul li img{
	height: 150px;
	width: auto;
	float: left;
	margin-right: 10px;
	padding: 1px;
}

#news-section div ul li p{
	font-size: 16px;
	padding: 5px;
}

#news-section div ul li p + p{
	font-size: 12px;
}

#news-section div + div ul{
	font-size: 0;
	letter-spacing: 0;
	position: relative;
}

#news-section div + div >  div ul li img{
	width: 100%;
	height: 150px !important;
	height: auto;
	float: left;
	box-sizing: border-box;
	padding: 20px;
	display: inline-block;
	margin: 0;
}

#services{
	width: 80%;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

#services li{
	box-sizing: border-box;
	text-align: center;
	border: 1px solid #fff;
}

#services li:hover{
	border: 1px solid #E7E7E7;
}


#services li > p:first-child{
	padding: 60px;
	margin: 0 auto;
	font-size: 40px;
	color: #E7C345;
}


#services li a span{
	top: 36%;
}

#services li p{
	font-size: 12px;
	color: #8E8E8E;
}

/*footer*/

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
	background-color: #F4F4F4;
	margin-top: 20px;
}

#secondary-nav{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	font-size: 11px;
	overflow: auto;
}

#secondary-nav li{
	overflow: auto;
	float: left;
	padding: 0 10px;
}

#secondary-nav li:first-child{
	padding-left: 0;
}

#copyrights{
	text-align: right;
	font-size: 11px;
	color: #8E8E8E;
}

/* about page */

#about-wrapper .row{
	padding: 15px;
}


#overview-wrapper li h5{
	margin-bottom: 0;
}

#breadcrumb{
	width: 20%;
	position: absolute;
	bottom: 0;
	left: 14;
	padding: 10px;
	margin: 0;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
	min-width: 180px;
	color: #fff !important;
	display: none;
}

/* News Page */

#news-content{
	list-style: none;
	padding: 0;
	margin: 0;
}

#news-content > li{
	margin: 0;
	overflow: auto;
}

#news-content li img{
	height: auto;
	width: 200px;
	margin-right: 10px;
	float: left;
}

#news-content li p + a + p{
	padding: 5px;
	background-color: #CCCCCC;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 10px;
}

#news-content li a{
	padding: 5px;
	background-color: #E7C345;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	font-size: 10px;
}

#news-content h3{
	margin-bottom: 0;
}

.news-content-cat{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: auto;
}

.news-content-cat li{
	float: left;
	margin-right: 5px;
	background-color: #ccc;
	padding: 5px;
	font-size: 10px;
	color: #fff;
	margin-bottom: 5px;
}

#contact-info{
	font-size: 0;
	letter-spacing: 0;
}

#contact-info p{
	font-size: 14px;
}

#contact-info label{
	width: 30%;
	position: relative;
	box-sizing: border-box;
	margin: 0;
	font-size: 14px;
	vertical-align: top;
}

#contact-info input[type="text"]{
	width: 50%;
	position: relative;
	box-sizing: border-box;
	margin: 5px;
	font-size: 14px;
	padding: 5px;
}

#contact-info textarea {
	width: 40%;
	height: 100px;
	font-size: 14px;
	resize: none;
	margin: 5px;
	padding: 5px;
}

/* member popup */

.modal-body{
	overflow: auto; /* re check */
}

#member-wrapper{
	overflow: auto;
}

#member-info{
	text-align: center;
}

#member-info h3{
	color: #A1A1A1;
	margin-bottom: 0;
}

#member-second-name{
	color: #E7C345;
	font-weight: 800;
}

#member-info img{
	width: 100px;
	border: 1px solid #A1A1A1;
}

#member-details h3{
	background-color: #E7C345;
	color: #fff !important;
	padding: 5px;
}

#member-details p{
	padding-left: 5px;
	font-size: 14px;
}

.member-sub-heading{
	text-align: left;
	font-size: 14px;
	vertical-align: top;
	color: #000;
	margin-top: 10px;
}

.member-sub-heading span{
	color: #A1A1A1;
	display: block;
	background-color: #f4f4f4;
	padding: 5px;
}

.member-sub-heading a{
	color: inherit;
}

#member-personal{
	font-size: 0;
	letter-spacing: 0;
}

/* login panel */

#login-area{
	text-align: center;
}

#login-area div{
	width: 75%;
	margin: 0 auto;
}

#login-area div label{
	width: 30%;
	margin-top: 5px;
}

#login-area div input[type="email"], input[type="password"]{
	width: 76%;
}

#login-area div input[type="submit"]{
	padding: 10px 28px;
}

#sign-in{
	margin-top: 10px;
	background-color: #E7C345;
	color: #fff;
}


/* members wrapper */

#members-wrapper ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	letter-spacing: 0;

}

#members-wrapper ul li{
	margin: 0;
}

#members-wrapper ul li p img{
	width: 100px;
	border: 1px solid #000;
	margin-right: 20px;
}

#members-wrapper ul li{
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
}

#members-wrapper ul li:nth-child(4n), #members-wrapper ul li:nth-child(4n+1){
	background-color: #f4f4f4;
}

#members-wrapper ul li p{
	font-size: 12px;
}

#members-wrapper ul li:after{
	content: '';
	clear: both;
	font-size: 1;
	display: block;
}


#members-wrapper ul li > p:nth-child(1){
	float: left;
	width: 115px;
	min-height: 100px;
}

#members-wrapper form{
	width: 100%;
	vertical-align: middle;
	padding: 50px;
	margin-top: 20px;
	background-color: #F4F4F4;
	text-align: center;
}

#members-wrapper form input[type="text"]{
	width: 70%;
	margin-left: 20px;
}

#members-wrapper form .btn{
	background-color: #E7C345;
	color: #fff;
}
/* individual news page */

#news-wrapper{
	
}

#news-wrapper img{
	width: auto;
	height: 150px;
	padding: 10px;
	display: inline-block;
}

@media (max-width: 1200px){
	#news-section div + div > div ul li img{
		height: 140px !important;
	}
}

@media (max-width: 992px){
	.page-wrapper{
		width: 100% !important; 
	}

	#footer-wrapper{
		width: 100%; 
	}

	#news-cat li {
		display: inline-block; 
		margin-right: 20px;
	}

	.member-sub-heading{
		width: 33.33%;
		display: inline-block;
	}

	#news-section div + div > div ul li img{
		height: 125px !important;
	}
}


@media (max-width: 768px){

	#nav li{
		padding:0px 0px 5px 0px !important;
	}

	#nav li a{
		background-color: #F4F4F4;
	}

	#nav li a:hover{
		background-color: #DBDBDB;
	}

	#main-slider h2{
		font-size: 14px;
	}

	#secondary-nav{
		text-align: center;
	}

	#copyrights{
		text-align: center;
		margin-top: 10px;
	}

	#secondary-nav li{
		float: none;
	}

	#secondary-nav li:first-child{
		padding-left: 10px;
	}

	#bottom-nav-container{
		margin: 0 auto;
		text-align: center;
	}

	/* styling for mobile menu*/

	.mobile-toggle{
		background-color: #F4F4F4;
	}

	.icon-bar{
		background-color: #ABABAB;
	}

	.navbar-toggle{
		border-color: #ABABAB;
	}

	#contact-info input[type="text"]{
		width: 60%
	}

	#contact-info textarea{
		width: 60%
	}

	h3{
		font-size: 18px !important;
	}

	#page{
		padding-bottom: 120px;
	}

}

@media (max-width: 480px){
	
	#news-content li img {
		height: auto;
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.member-sub-heading{
		text-align: center;
		width: auto;
		display: block;
	}
}